# Python
__pycache__/
.venv/
*.pyc

# Environment variables
.env

# Database
registrations.db

# Local SSH keys accidentally placed in project root
8520147
8520147.pub

# Editor
.vscode/
.idea/
error_debug.log
